.about {
    min-height: calc(100vh - 80px) !important;
    background: #e0e4eb !important;
    padding: 30px 15px;
}

.mearat {
    border: 5px solid rgb(0, 157, 255);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.16) ;
}