.footer {
    padding: 20px;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "upArrow project . connect "
    ". list1 list2 list3 "
    "copyright copyright copyright copyright";
    justify-items: start;
}

.connect {
    grid-area: connect;
}

.list3 {
    grid-area: list3;
}

.list1 {
    grid-area: list1;
}

.list2 {
    grid-area: list2;
}

.project {
    grid-area: project;
}

.project2 {
    grid-area: project2;
}

.upArrow {
    grid-area: upArrow;
}

.copyright {
    grid-area: copyright;
    justify-self: center;
    align-self: end;
}

.backToTop {
    transition: all 0.4s cubic-bezier(0.4, 2, 0.68, 1) !important;
}

.backToTop:hover {
    transform: scale(1.16);
}

.list3 a, .list2 a, .list1 a {
    text-decoration: none;
    color: grey;
}

.list3 h3, .list1 h3, .list2 h3 {
    margin-top: 10px !important;
}

.list3 a:hover, .list1 a:hover, .list2 a:hover {
    color: black;
}

@media screen and (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 3fr 1fr 3fr 1fr;
        grid-template-areas: 
            'project'
            'list1'
            'list2'
            'connect'
            'list3'
            'copyright';
        justify-items: center;
        text-align: center;
    }

    .connect {
        margin-top: 10px;
    }
}