.showcase {
    min-height: calc(100vh - 80px);
    background: linear-gradient(90deg, rgb(250, 250, 250) 20px, transparent 1%) center, linear-gradient(rgb(250, 250, 250) 20px, transparent 1%) center, rgb(228, 228, 228) !important;
    background-size: 22px 22px !important;
    padding: 15px;
    margin-top: 80px;
}