.showcase {
    min-height: calc(100vh - 80px);
    background: linear-gradient(90deg, rgb(250, 250, 250) 20px, transparent 1%) center, linear-gradient(rgb(250, 250, 250) 20px, transparent 1%) center, rgb(228, 228, 228) !important;
    background-size: 22px 22px !important;
    padding: 15px;
    margin-top: 80px;
    position: relative;
}

.square {
    top: -490px;
    right: -40px;
    width: 600px;
    height: 600px;
    position: absolute;
    transform: rotate(-45deg);
    background: linear-gradient(to right, #2336b6, rgba(31,38,103,0.9));
    transition: all 250ms ease-out;
    transition-delay: 50ms;
}

.circle {
    top: 95px;
    right: -30px;
    width: 350px;
    height: 350px;
    border-radius: 175px;
    background: linear-gradient(to right, rgba(49,207,171,0.5), #50e3c2);
    mix-blend-mode: multiply;
    transition: all 250ms ease-out;
    transition-delay: 50ms;
    position: absolute;
}

@media screen and (max-width: 992px) {
    .square {   
        position: absolute;
        top: -50px;
        right: 50px;
        width: 300px;
        height: 300px;
    }
    
    .circle {
        top: -145px;
        right: -100px;
        width: 350px;
        height: 350px;
    }
  }
  
 
  @media screen and (max-width: 600px) {
    .square {
        top: -130px;
        right: 50px;
        width: 200px;
        height: 200px;
    }

    .circle {
        top: -60px;
        right: -80px;
        width: 220px;
        height: 220px;
        border-radius: 110px;
    }
  }